flow.json
[
    {
        "id": "ffbdda214baee7c2",
        "type": "tab",
        "label": "Truma",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65c077f8439c8722",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "e0b96dcb09170b68"
            ]
        ]
    },
    {
        "id": "e0b96dcb09170b68",
        "type": "debug",
        "z": "ffbdda214baee7c2",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "826693e08418bcd7",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/error_code",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "d870182f73419bc3",
                "7efe67e5a60b0c4c"
            ]
        ]
    },
    {
        "id": "d870182f73419bc3",
        "type": "debug",
        "z": "ffbdda214baee7c2",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "7efe67e5a60b0c4c",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "error_code",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 250,
        "wires": []
    },
    {
        "id": "8d49fcfdeff1937f",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/alive",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "e3f1acbb38b0af1f"
            ]
        ]
    },
    {
        "id": "652cb5cbf3b0673f",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/current_temp_water",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 410,
        "wires": [
            [
                "f23f5a18f178772f",
                "0367962bfa0f3a7e"
            ]
        ]
    },
    {
        "id": "c8876cdbd999e9f0",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/target_temp_room",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 470,
        "wires": [
            [
                "aca8603f40ea3b91",
                "0367962bfa0f3a7e"
            ]
        ]
    },
    {
        "id": "25871b13a50116e0",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/current_temp_room",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "c85996c792904146",
                "0367962bfa0f3a7e"
            ]
        ]
    },
    {
        "id": "4b87ec6760df75a5",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/target_temp_water",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "d67cc5e1d97d3365"
            ]
        ]
    },
    {
        "id": "e3f1acbb38b0af1f",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "alive",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "aca8603f40ea3b91",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "target_temp_room",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 470,
        "wires": []
    },
    {
        "id": "c85996c792904146",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "current_temp_room",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "f23f5a18f178772f",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "current_temp_water",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 410,
        "wires": []
    },
    {
        "id": "d67cc5e1d97d3365",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "target_temp_water",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "47d0e3441e18eb08",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/operating_status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 590,
        "wires": [
            [
                "88e57688248a3e5c"
            ]
        ]
    },
    {
        "id": "88e57688248a3e5c",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "operating_status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 590,
        "wires": []
    },
    {
        "id": "6266ba53abd0a843",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/heating_mode",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 650,
        "wires": [
            [
                "bc3f59f4ccb4ad07"
            ]
        ]
    },
    {
        "id": "bc3f59f4ccb4ad07",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "heating_mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 650,
        "wires": []
    },
    {
        "id": "874849c35704233c",
        "type": "ui_text",
        "z": "ffbdda214baee7c2",
        "group": "b7a1abc3d4f3a803",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "clock",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 710,
        "wires": []
    },
    {
        "id": "fc6936fc6e79eec1",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/clock",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 710,
        "wires": [
            [
                "874849c35704233c"
            ]
        ]
    },
    {
        "id": "0367962bfa0f3a7e",
        "type": "ui_chart",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 770,
        "wires": [
            []
        ]
    },
    {
        "id": "6022c83db3dfb624",
        "type": "mqtt out",
        "z": "ffbdda214baee7c2",
        "name": "service/truma/set/target_temp_room",
        "topic": "service/truma/set/target_temp_room",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f20f528ff838a1f8",
        "x": 760,
        "y": 850,
        "wires": []
    },
    {
        "id": "7c75c4931451d4e2",
        "type": "debug",
        "z": "ffbdda214baee7c2",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 930,
        "wires": []
    },
    {
        "id": "0cf50beb35710c8a",
        "type": "ui_slider",
        "z": "ffbdda214baee7c2",
        "name": "",
        "label": "Temp.",
        "tooltip": "",
        "group": "551910eaceb43644",
        "order": 9,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 440,
        "y": 930,
        "wires": [
            [
                "7c75c4931451d4e2",
                "6022c83db3dfb624"
            ]
        ]
    },
    {
        "id": "ece25b42eefe53b7",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 850,
        "wires": [
            [
                "6022c83db3dfb624",
                "7c75c4931451d4e2"
            ]
        ]
    },
    {
        "id": "170a7ba4dedc153d",
        "type": "mqtt out",
        "z": "ffbdda214baee7c2",
        "name": "service/truma/set/heating_mode",
        "topic": "service/truma/set/heating_mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f20f528ff838a1f8",
        "x": 540,
        "y": 1340,
        "wires": []
    },
    {
        "id": "04db23456a87cf8f",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Heating off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1260,
        "wires": [
            [
                "170a7ba4dedc153d"
            ]
        ]
    },
    {
        "id": "35f843930de1df35",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 6,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "eco",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "eco",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1300,
        "wires": [
            [
                "170a7ba4dedc153d"
            ]
        ]
    },
    {
        "id": "39f6c66156866a0f",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "high",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "high",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1340,
        "wires": [
            [
                "170a7ba4dedc153d"
            ]
        ]
    },
    {
        "id": "1d7c6ccde18beae2",
        "type": "ui_iframe",
        "z": "ffbdda214baee7c2",
        "d": true,
        "group": "551910eaceb43644",
        "name": "Inetbox2mqtt",
        "order": 17,
        "width": "15",
        "height": "12",
        "url": "http://192.168.112.147/",
        "origin": "*",
        "scale": 100,
        "x": 560,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "120053f9a7682d7a",
        "type": "mqtt in",
        "z": "ffbdda214baee7c2",
        "name": "",
        "topic": "service/truma/control_status/target_temp_room",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f20f528ff838a1f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 850,
        "wires": [
            [
                "0cf50beb35710c8a"
            ]
        ]
    },
    {
        "id": "d94bca973eab288a",
        "type": "mqtt out",
        "z": "ffbdda214baee7c2",
        "name": "service/truma/set/target_temp_water",
        "topic": "service/truma/set/target_temp_water",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f20f528ff838a1f8",
        "x": 560,
        "y": 1480,
        "wires": []
    },
    {
        "id": "675e0f2ba97f168e",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 11,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Water heating off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1470,
        "wires": [
            [
                "d94bca973eab288a"
            ]
        ]
    },
    {
        "id": "a13b940864b830e2",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "eco",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "40",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1510,
        "wires": [
            [
                "d94bca973eab288a"
            ]
        ]
    },
    {
        "id": "ac4392bf674dd1f4",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "high",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "60",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1550,
        "wires": [
            [
                "d94bca973eab288a"
            ]
        ]
    },
    {
        "id": "399cbfb4cb7dedbb",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "boost",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1590,
        "wires": [
            [
                "d94bca973eab288a"
            ]
        ]
    },
    {
        "id": "072ec4f502ac760d",
        "type": "mqtt out",
        "z": "ffbdda214baee7c2",
        "d": true,
        "name": "service/truma/set/heating_mode // Fan",
        "topic": "service/truma/set/heating_mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f20f528ff838a1f8",
        "x": 580,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8e7072d44d5c181e",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Fan off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "072ec4f502ac760d"
            ]
        ]
    },
    {
        "id": "3c2d94cd3026d9fe",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "FAN eco",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "eco",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "072ec4f502ac760d"
            ]
        ]
    },
    {
        "id": "9b300adb351e4c1e",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "FAN high",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "high",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1120,
        "wires": [
            [
                "072ec4f502ac760d"
            ]
        ]
    },
    {
        "id": "2164f58bf5217989",
        "type": "ui_button",
        "z": "ffbdda214baee7c2",
        "name": "",
        "group": "551910eaceb43644",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "rr",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "0367962bfa0f3a7e"
            ]
        ]
    },
    {
        "id": "8e59465e3424ff8a",
        "type": "ui_spacer",
        "z": "ffbdda214baee7c2",
        "name": "spacer",
        "group": "551910eaceb43644",
        "order": 10,
        "width": "15",
        "height": "1"
    },
    {
        "id": "f20f528ff838a1f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b7a1abc3d4f3a803",
        "type": "ui_group",
        "name": "Truma",
        "tab": "dd9e0df038edee9e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "551910eaceb43644",
        "type": "ui_group",
        "name": "Heating temperatures",
        "tab": "dd9e0df038edee9e",
        "order": 2,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd9e0df038edee9e",
        "type": "ui_tab",
        "name": "Truma",
        "icon": "fa-fire",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]
